@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scrollbar-width: thin;
    scrollbar-color:#262626 transparent
}

* ::-webkit-scrollbar {
    width: 0.25rem;
}

* ::-webkit-scrollbar-track {
    background:transparent
}

* ::-webkit-scrollbar-thumb {
    width: 0.45rem;
    background: #f9ca7800;
    /* background-clip: padding-box; */
    border-radius: .5rem;
    border:.25rem solid transparent
}

* ::-webkit-scrollbar-thumb:hover {
    background: #f9c978;
    background-clip:padding-box
}

.scrollbar:hover::-webkit-scrollbar-thumb {
    background: #f9c978;
}